* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-family: 'Source Serif Pro', monospace;
    font-size: 62.5%;
}

body {
    color: #A54328;
    font-size: 1.6rem;
}

main {
    max-width: 32rem;

    margin-inline: auto; /* margin nos lado */

    padding: 5.6rem 4rem;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
img {
    width: 100%;
    margin-block: 3.2rem; /* margin em cima e baixo*/
}

h1 , h2 {
     /* clamp ( min, ideal, alto) */
    font-size: clamp(2.8rem, 2vw + 1rem, 4rem);
    line-height: clamp(3.6rem, 2vw, 5rem);
}

h2 {
    margin-bottom: 3.2rem;
}

p, li , strong {
    font-size: clamp(1.4rem, 1vw +0.4rem, 2rem);
    line-height: clamp(1.8rem, 1vw +0.4rem, 2.5rem);
}

ul, ol {
    padding-left: 2.4rem;
}

ul {
    margin-bottom: 2.4rem;
}



button {
    font-family: 'Source Serif 4', serif;
    font-weight: 500;
    background-color: #A54328;

    color:  white;
     border:  0;
     padding: .8rem 1.2rem;
     border-radius: .6rem;

     margin-top: 1.8rem;
}

button:hover{
    background-color: #e75f39;
    cursor: pointer;
}

/* desktop */

@media (min-width: 770px) {
    main { 
            flex-direction: row;      
            max-width: fit-content; 
            gap: 16rem;

            padding: 9rem 6rem;
        }
        .receita {
            max-width: 43.5rem;
        }
        .Ingredientes{
            max-width: 52.5rem;
        }
        /*
        h1, h2 {
            font-size: 4rem;
            line-height: 5rem;
        }
        p, li , strong {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        */
        ul, ol {
            margin-top: 1rem;
        }
        li {
            margin-bottom: 2px;
        }

        button {
            font-size: 1.7rem;
            line-height: 2.4rem;
            padding: 1rem 2rem;
        }
}

